<nav>
	<ul class="pagination">

	{% if pagination_data.has_previous %}

		<li>
			<a href="?page_no=1">首页</a>
		</li>
		<li>
			<a href="?page_no={{ pagination_data.previous_link }}">&laquo;</a>
		</li>
		
	{% endif %}

	{% for i in pagination_data.page_links %}
		<li {% if pagination_data.current_no == i %} class="active" {% endif %}>
			<a href="?page_no={{ i }}">{{ i }}</a>
		</li>
	{% endfor %}

	{% if pagination_data.has_next %}
		<li>
			<a href="?page_no={{ pagination_data.next_link }}">&raquo;</a>
		</li>
		<li>
			<a href="?page_no={{ pagination_data.page_cnt }}">尾页</a>
		</li>
	{% endif %}
	
	</ul>
</nav>